.admin-container{
    display: flex;
    justify-content: center;
 
    
}
.orders{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
}
.mantine-1tggmaq {
    justify-content: center;
}