.container-movies{
    background-image: url(https://fondosmil.com/fondo/50138.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.designRooster {
    display: flex;
    flex-wrap: wrap;
}
.designRooster>*{
    flex-basis: 25%;
}
