.header{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: rgb(103, 104, 104);
    color: white;
    background-image: url(/src/images/footer.jfif);
    background-repeat: repeat;
}
.header div span{
    margin: 1em;
    color: white;
}
a,span{
    all:unset;
    cursor:pointer;
}
a:hover,span:hover{
    font-weight: bolder;
    transition: 0.2s;
    transform:scale(.9);  
}