.footer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 6em;
    background-color: rgb(103, 104, 104);
    color: white; 
    background-image: url(/src/images/footer.jfif);
}

.footerLetter{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2em;
}
