.footer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 8em;
    background-color: rgb(103, 104, 104);
    color: white; 
}
.footer div span{
    margin: 1em;
}
a{
    all:unset;
    cursor:pointer;
}
a:hover{
    font-weight: bolder;
    transition: 0.2s;
    transform:scale(.9);  
}