.filmCard {
    width: 20vw;
    height: 39vh;
    margin: 1em;
    -webkit-box-shadow: 5px 5px 9px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 5px 5px 9px -1px rgba(0, 0, 0, 0.45);
  }
  .searchContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 80vh;
  }