.filmCard {
  width: 20vw;
  margin: 1em;
  background-color: #1a1b1e;
  -webkit-box-shadow: 5px 5px 9px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 9px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), rgb(0 0 0 / 5%) 0px 10px 15px -5px,
    rgb(0 0 0 / 4%) 0px 7px 7px -5px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-decoration: none;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.53); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.53);
}

.deleteButton {
  width: 6em;
  height: 2em;
  color: white;
  transition: 0.3s;
  background-color: red;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
}
.mantine-1b2x5bd {
  text-decoration: none;
  color: #c1c2c5;
  background-color: #1a1b1e;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0;
}
